* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    margin: inherit;
    padding: inherit;
}

body {
    background-color: #F5F5F5;
}


.header-navbar {
    width: 100%;
    height: 90px;
}

.header-navbar-with-search {
    width: 100%;
    height: 55px;
    background-color: #cd1818;
}

.header-logo-img {
    margin-left: 30px;
}

.header-logo-icon {
    display: flex;
    justify-content: space-between;
}

.header-search {
    margin-left: 238px;
    padding-top: 9px;
    width: 493px;
    height: 38px;
}

.header-navbar-search {
    display: flex;
    background-color: #fff;
    border: none;
    border-radius: 2px;
    padding: 0 0 0 16px;
}

.search {
    font-size: 14px;
    float: inline-start;
    width: 435px;
    height: 38px;
    border: none;
    outline: none;
}

.search-button {
    width: 58px;
    height: 38px;
    background-color: #333;
    border: none;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
}

.header-logo {
    position: absolute;
}

.header-navbar-list {
    display: flex;
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    margin-right: 30px;
}

.header-navbar-list li {
    height: 56px;
    line-height: 1;
    padding-top: 8px;
    margin-left: 24px;
    text-align: center;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.header-navbar-list a {
    text-decoration: none;
    color: #fff;
}

.header-navbar-list-item li {
    height: 50px;
    line-height: 1;
    padding-top: 6px;
    margin-left: 24px;
    text-align: center;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.menu {    
    position: relative;
    background-color: #252525;
    height: 36px;
}

.menu-list {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 26px;
}

.menu-list-item {
    display: flex;
}

.menu-list-item li {
    list-style: none;
}

.menu-list-item li a {
    font-family: Roboto, sans-serif;
    display: flex;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    padding-right: 20px;
}

.menu-list-item-icon {
    margin-right: 5px;
}

.event-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 32px;
}

.event-container ol {
    display: flex;
    margin: 10px 0;
}

.event-container-text {
    list-style: none;
    padding-right: 5px;
    font-size: 14px;
}

.event-container-text a {
    font-family: Roboto, sans-serif;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 32px;
}

.gallery-display-are {
    overflow: hidden;
    width: 1200px;
    height: 300px;
    margin: 0 auto;
    border-radius: 8px;
}

.gallery-wrap {
    display: flex;
    float: left;
    border-radius: 5px;
    width: 1200px;
    animation: slideshow 16s infinite;
}

.img {
    float: left;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes slideshow {
    20% {
        margin-left: 0;
    }
    30% {
        margin-left: -100%;
    }
    40% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    60% {
        margin-left: -200%;
    }
    70% {
        margin-left: -300%;
    }
    80% {
        margin-left: -300%;
    }
    90% {
        margin-left: -400%;
    }
    100% {
        margin-left: -400%;
    }
}


.center {
    display: flex;
    width: 100%;
    background-color: #F5F5F5;
}

.aside {
    width: 332px;
}

.aside-list {
    margin-bottom: 30px;
    padding: 0 30px;
}

.aside-list-header {
    font-size: 15px;
    font-weight: 700;
    line-height: 1;
    color: #212529;
    margin-bottom: 21px;
}


.aside-list-check-box {
    line-height: 18px;
    font-size: 14px;
    margin-bottom: 14px;
    flex: 1 50%;
}

.checkbox-container {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 16px;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
}
  
.custom-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #eee;
    border-radius: 4px;
    transition: background-color 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 6px;
    top: 2px;
    width: 3px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
  
.custom-checkbox:checked ~ .checkmark {
    background-color: #2196F3;
    box-shadow: 0 3px 7px rgba(33, 150, 243, 0.3);
}
  
.custom-checkbox:checked ~ .checkmark:after {
    display: block;
}
  
 @keyframes checkAnim {
    0% {
      height: 0;
    }
  
    100% {
      height: 10px;
    }
}
  
.custom-checkbox:checked ~ .checkmark:after {
    animation: checkAnim 0.2s forwards;
}
  

.main {
    width: 70%;
}

.header-box {
    margin-bottom: 30px;
    width: 100%;
    height: 100px;
    background-color: #fff;
    border-radius: 6px;
}

.card-header {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.card-header-title {
    padding: 15px;
}

.card-header-title-text {
    display: inline;
    font-size: 28px;
    line-height: 28px;
    color: #212529;
}

.card-header-title span {
    display: inline-block;
    color: #6c757d;
    margin-left: 10px;
    font-size: 18px;
    line-height: 1;
}

.list-tag {
    margin-top: -2px;
    padding: 0 15px 15px;
    overflow: hidden;
}

.list-tag span:first-child {
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
    font-size: 16px;
    color: #495057;
}

.list-tag a {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    height: 23px;
    line-height: 23px;
    font-size: 12px;
    padding: 0 8px 0 8px;
    color: #8392a5;
    border-radius: 4px;
    border: solid 1px #b4bdce;
    margin: 0 10px 6px 0;
    cursor: pointer;
}

.list-tag a:hover {
    border: solid 1px #ea9d02;
    color: #ea9d02;
}

.list-tag a h2 {
    font-size: inherit;
    font-weight: 400;
    line-height: normal;
}
.list-tag a i {
    font-size: 14px;
    display: inline-block;
    position: relative;
    padding-left: 4px;
}

.cdt-product {
    width: 29%;
    height: 400px;
    margin: 5px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}

.cdt-product h3 a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    display: block;
    white-space: nowrap; /* Ngăn chữ xuống dòng */
    overflow: hidden; /* Ẩn phần vượt quá chiều rộng của container */
    text-overflow: ellipsis; /* Hiển thị dấu 3 chấm khi có nội dung vượt quá */
}

.home-product-item__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.home-product-item__price-current {
    color: #DC0000;
    font-size: 24px;
    font-weight: 600;
    display: inline-flex;
}

.home-product-item__price-old {
    font-size: 18px;
}

.home-product-item__action {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    float: right;
}

.home-product-item__rating {
    transform: scale(0.8);
    transform-origin: right;
    text-align: center;
    color: #FFCE3E;
}

.home-product-item__solid {
    color: black;
    margin-left: 6px;
}

.btn {
    margin-top: 10px;
    width: 80%;
    height: 40px;
    background-color: #cb1c22;
    text-align: center;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
}

.flits-box {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    box-shadow: 0 0 3px 0 #dee2e6;
    border-radius: 6px;
}

.sortfirstbox {
    width: 100%;
    padding: 15px 15px;
    margin-bottom: 18px;
    display: flex;
    justify-content: space-between;
}

.list-tab {
    display: flex;
    align-items: center;
}

.list-tab span {
    font-size: 14px;
    line-height: 14px;
    color: #555;
    margin-right: 16px;
    display: inline-block;
}

.btn-group {
    display: inline-flex;
    position: relative;
}

.btn-group ul {
    display: inline-flex;
    list-style: none;
}

.list-tab .btn-group ul li a.fistchild {
    border-radius: 4px 0 0 4px;
    border: solid 1px #cb1c22;
    background-color: #cb1c22;
    color: #fff;
}

.btn-group ul li a {
    text-decoration: none;
    cursor: pointer;
    color: #8392a5;
    border: solid 1px #ced4da;
    cursor: pointer;
}

.list-tab .btn-group ul li a.lastchild {
    border-radius: 0 4px 4px 0;
}

.list-tab .btn-group ul li:nth-last-child(-n+4) a:hover {
    background-color: #99a2aa;
    color: #fff;    
    border: solid 1px #99a2aa;

}

.btnn {
    padding: 6px 11px;
    font-size: 14px;
}

.grid-tab {
    display: flex;
    align-items: center;
}

.dropdown {
    display: flex;
    position: relative;
    margin-right: 15px;
}

.dropdown-button {
    display: inline-block;
    border: solid 1px #ced4da;
    border-radius: 4px;
    padding: 6px 25px 6px 8px;
    font-size: 14px;
    line-height: 16px;
    background-color: #fff;
    cursor: pointer;
    white-space: nowrap;
}

.dropdown-button:before {
    top: 30%;
    border-bottom: 6px solid #1b202f;
}

.dropdown-button:after {
    top: 65%;
    border-top: 6px solid #1b202f;
}

.dropdown-button:after, 
.dropdown-button:before {
    content: "";
    position: absolute;
    right: 75px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.grid-tab .dropdown span {
    margin-top: 3px;
    cursor: pointer;
    font-size: 24px;
}

/* Footer */
.footer {
    width: 100%;
    clear: both;
}

.clearfix {
    margin-top: 50px;
    background-color: #fff;
    height: 132px;
}

.footer__bottom {
    padding: 8px 0;
    background-color: #F5F5F5;
}
.footer__text {
    margin: 0;
    text-align: center;
    font-size: 14px;
    color: #737373;
}